$main-bg-color: #f9fafc;
$main-text-color: #374452;
$column-bg-color: #e1e8f0;
$card-bg-color: white;
$card-border-color: blue;
$input-text-color: #a7a7a7;
$modal-form-border: #f5f5f5;
$hover-color-active: darkblue;

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: $main-bg-color;
  color: $main-text-color;
  margin: 0;
  padding: 0;
  width: 100%;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  all: unset;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  appearance: none;
  all: unset;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

.root {
  width: 100%;
}